@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,700;8..144,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto Serif', serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    color: #1976D2;
    text-transform: capitalize;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .cuentas ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    color: #121212;
    display: block;
}

.menu .cuentas ul li a{
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    color: #121212;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #1976D2;
}

.menu .cuentas ul li a:hover{
    color: #1976D2;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px) ;
    top: 100%;
    z-index: 1;
    padding: 25px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table{
    width: 100%;
}

th, td{
    color: #121212;
}

.borrar{
    background-color: #fc0d0d;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}

.bg{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

.header-content{
    display: flex;
    align-items: center;
}

.header-txt{
    width: 50%;
    margin-right: 50px;
}

.header-txt h1{
    font-size: 55px;
    line-height: 65px;
    color: #121212;
    margin-bottom: 35px;
}

.header-txt p{
    font-size: 20px;
    font-weight: 500;
    color: #121212;
    margin-bottom: 45px;
}

.header-txt span{
    color: #121212;
}

.btn-1{
    display: inline-block;
    padding: 15px 45px;
    border-radius: 30px;
    background-color: #1976D2;
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
    background-color:#212121;
}

.header-img{
    width: 45%;
    text-align: right;
}

.header-img img{
    width: 600px;
}











body.modo-oscuro {
    background-color: #121212;
    color: #FFF;
}

/* Estilos para el pie de página */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.oscuro {
    position: fixed;
}

#boton-modo-oscuro {
    background-color: #121212;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Estilos para los filtros de búsqueda avanzada */

.filtros h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.filtros label {
    margin-right: 5px;
}

.filtros select,
.filtros input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.filtros button {
    background-color: #1976D2;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}