/* Estilos para el cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.modo-oscuro {
    background-color: #121212;
    color: #FFF;
}

/* Estilos para el encabezado */
header.main-menu {
    background-color: #1976D2;
    color: #FFF;
    padding: 20px;
}

/* Estilos para los enlaces */
header .nav .nav-link {
    color: #1976D2;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

header .nav .nav-link:hover {
    color: #FF5722;
}

/* Estilos para el contenido principal */
main {
    margin: 20px;
}

main .main-contenedor {
    text-align: center;
}

main .main-titulo {
    color: #1976D2;
    font-size: 36px;
}

main .main-descripcion {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px auto;
}

main .inicio-sesion,
main .crear-cuenta {
    color: #1976D2;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #1976D2;
    border-radius: 30px;
    font-weight: bold;
}

main .inicio-sesion:hover,
main .crear-cuenta:hover {
    background-color: #1976D2;
    color: #FFF;
}

/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

#boton-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-modo-oscuro {
    background-color: #121212;
    color: #FFF;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#boton-modo-oscuro:hover {
    background-color: #1976D2;
}

/* Estilos para la barra de búsqueda */
.nav.search {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

.nav.input-busqueda {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
}

.nav.boton-busqueda {
    background-color: #1976D2;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* Estilos para los filtros de búsqueda avanzada */
.filtros {
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filtros h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.filtros label {
    margin-right: 5px;
}

.filtros select,
.filtros input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.filtros button {
    background-color: #1976D2;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para la sección de productos */
.productos {
    margin-top: 20px;
    
}
