@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Ubuntu&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body.modo-oscuro {
    background-color: #121212;
    color: #FFF;
}